@model TransactionsListViewModelWithoutPaging

@{
    ViewBag.Title = "All user transactions";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}
<h1 class="heading-margin text-center">@Model.UserCredits.Name your current balance is @Model.UserCredits.Credits credits.</h1>




@if (Model.IncomingTransactions.Count() == 0)
{
    <h4 class="heading-margin text-center">You have no transactions received!</h4>
}
else
{
    <h3 class="heading-margin text-center">All incoming transactions</h3>

    <table class="table table-striped">

        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Created On</th>
                <th scope="col">Sender Name</th>
                <th scope="col">Credits</th>
                <th scope="col">Massage</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var transaction in Model.IncomingTransactions)
            {
                <tr>
                    <td scope="col">@transaction.Id</td>
                    <td scope="col">@transaction.CreatedOn</td>
                    <td scope="col">@transaction.SenderName</td>
                    <td scope="col">@transaction.Credits</td>
                    <td scope="col">@transaction.Massage</td>
                </tr>
            }
        </tbody>

    </table>
}
<hr />

@if (Model.OutcomingTransactions.Count() == 0)
{
    <h4 class="heading-margin text-center">You have no transactions sent!</h4>
}
else
{
    <h3 class="heading-margin text-center">All outgoing transactions</h3>
    <table class="table table-striped">

        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Created On</th>
                <th scope="col">Receiver Name</th>
                <th scope="col">Credits</th>
                <th scope="col">Massage</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var transaction in Model.OutcomingTransactions)
            {
                <tr>
                    <td scope="col">@transaction.Id</td>
                    <td scope="col">@transaction.CreatedOn</td>
                    <td scope="col">@transaction.ReceiverName</td>
                    <td scope="col">@transaction.Credits</td>
                    <td scope="col">@transaction.Massage</td>
                </tr>
            }
        </tbody>

    </table>
}